body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f7f7f7;
}

.container {
    width: 300px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

#task-input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

#add-task {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

li {
    background-color: #f1f1f1;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 4px;
}
